<div class="container">
<h1 class="text-center">New Restaurant</h1>

<div class="text-center" id="button_create">
<%= render 'form', restaurant: @restaurant %>
</div>

<%= link_to 'Back', restaurants_path %>
</div>
